# Notebooks checkpoints ignored
Notebook_Tutorials/.ipynb_checkpoints/

# ignore Python compiled files
*.pyc

# ignore token files
*.pypirc

# Notes folder ignored
!Personal_Notes/
Personal_Notes/**
Personal_Notes/*
!Personal_Notes/README.md

# ignore PyCharm project folder
.idea
pyBlackScholesAnalytics/.idea

# ignore README_PyPI.md file
README_PyPI.md

# ignore setup.py file
setup.py
# dist folder ignored
!dist/
dist/**
dist/*

# build folder ignored
!build/
build/**
build/*

# pyBlackScholesAnalytics_gabrielepompa88.egg-info ignored
!pyBlackScholesAnalytics_gabrielepompa88.egg-info/
pyBlackScholesAnalytics_gabrielepompa88.egg-info/**
pyBlackScholesAnalytics_gabrielepompa88.egg-info/*

# pyBlackScholesAnalytics.egg-info ignored
!pyBlackScholesAnalytics.egg-info/
pyBlackScholesAnalytics.egg-info/**
pyBlackScholesAnalytics.egg-info/*
