name: requirements
channels:
  - defaults
dependencies:
  - _ipyw_jlab_nb_ext_conf=0.1.0
  - alabaster=0.7.12
  - anaconda=2019.10
  - anaconda-client=1.7.2
  - anaconda-navigator=1.9.7
  - anaconda-project=0.8.3
  - asn1crypto=1.0.1
  - astroid=2.3.1
  - astropy=3.2.1
  - atomicwrites=1.3.0
  - attrs=19.2.0
  - babel=2.7.0
  - backcall=0.1.0
  - backports=1.0
  - backports.functools_lru_cache=1.6.1
  - backports.os=0.1.1
  - backports.shutil_get_terminal_size=1.0.0
  - backports.tempfile=1.0
  - backports.weakref=1.0.post1
  - beautifulsoup4=4.8.0
  - bitarray=1.0.1
  - bkcharts=0.2
  - blas=1.0
  - bleach=3.1.0
  - blosc=1.16.3
  - bokeh=1.3.4
  - boto=2.49.0
  - bottleneck=1.2.1
  - bzip2=1.0.8
  - ca-certificates=2019.8.28
  - certifi=2019.9.11
  - cffi=1.12.3
  - chardet=3.0.4
  - click=7.0
  - cloudpickle=1.2.2
  - clyent=1.2.2
  - colorama=0.4.1
  - comtypes=1.1.7
  - conda=4.8.2
  - conda-build=3.18.11
  - conda-env=2.6.0
  - conda-package-handling=1.6.0
  - conda-verify=3.4.2
  - console_shortcut=0.1.1
  - contextlib2=0.6.0
  - cryptography=2.7
  - curl=7.65.3
  - cycler=0.10.0
  - cython=0.29.13
  - cytoolz=0.10.0
  - dask=2.5.2
  - dask-core=2.5.2
  - decorator=4.4.0
  - defusedxml=0.6.0
  - distributed=2.5.2
  - docutils=0.15.2
  - entrypoints=0.3
  - et_xmlfile=1.0.1
  - fastcache=1.1.0
  - filelock=3.0.12
  - flask=1.1.1
  - freetype=2.9.1
  - fsspec=0.5.2
  - future=0.18.2
  - get_terminal_size=1.0.0
  - gevent=1.4.0
  - glob2=0.7
  - greenlet=0.4.15
  - h5py=2.9.0
  - hdf5=1.10.4
  - heapdict=1.0.1
  - html5lib=1.0.1
  - icc_rt=2019.0.0
  - icu=58.2
  - idna=2.8
  - imageio=2.6.0
  - imagesize=1.1.0
  - importlib_metadata=0.23
  - intel-openmp=2019.4
  - ipykernel=5.1.2
  - ipython=7.8.0
  - ipython_genutils=0.2.0
  - ipywidgets=7.5.1
  - isort=4.3.21
  - itsdangerous=1.1.0
  - jdcal=1.4.1
  - jedi=0.15.1
  - jinja2=2.10.3
  - joblib=0.13.2
  - jpeg=9b
  - json5=0.8.5
  - jsonschema=3.0.2
  - jupyter=1.0.0
  - jupyter_client=5.3.3
  - jupyter_console=6.0.0
  - jupyter_core=4.5.0
  - jupyterlab=1.1.4
  - jupyterlab_server=1.0.6
  - keyring=18.0.0
  - kiwisolver=1.1.0
  - krb5=1.16.1
  - lazy-object-proxy=1.4.2
  - libarchive=3.3.3
  - libcurl=7.65.3
  - libiconv=1.15
  - liblief=0.9.0
  - libpng=1.6.37
  - libsodium=1.0.16
  - libssh2=1.8.2
  - libtiff=4.0.10
  - libxml2=2.9.9
  - libxslt=1.1.33
  - llvmlite=0.29.0
  - locket=0.2.0
  - lxml=4.4.1
  - lz4-c=1.8.1.2
  - lzo=2.10
  - m2w64-gcc-libgfortran=5.3.0
  - m2w64-gcc-libs=5.3.0
  - m2w64-gcc-libs-core=5.3.0
  - m2w64-gmp=6.1.0
  - m2w64-libwinpthread-git=5.0.0.4634.697f757
  - markupsafe=1.1.1
  - matplotlib=3.1.1
  - mccabe=0.6.1
  - menuinst=1.4.16
  - mistune=0.8.4
  - mkl=2019.4
  - mkl-service=2.3.0
  - mkl_fft=1.0.14
  - mkl_random=1.1.0
  - mock=3.0.5
  - more-itertools=7.2.0
  - mpmath=1.1.0
  - msgpack-python=0.6.1
  - msys2-conda-epoch=20160418
  - multipledispatch=0.6.0
  - navigator-updater=0.2.1
  - nbconvert=5.6.0
  - nbformat=4.4.0
  - networkx=2.3
  - nltk=3.4.5
  - nose=1.3.7
  - notebook=6.0.1
  - numba=0.45.1
  - numexpr=2.7.0
  - numpy=1.16.5
  - numpy-base=1.16.5
  - numpydoc=0.9.1
  - olefile=0.46
  - openpyxl=3.0.0
  - openssl=1.1.1d
  - packaging=19.2
  - pandas=0.25.1
  - pandoc=2.2.3.2
  - pandocfilters=1.4.2
  - parso=0.5.1
  - partd=1.0.0
  - path.py=12.0.1
  - pathlib2=2.3.5
  - patsy=0.5.1
  - pep8=1.7.1
  - pickleshare=0.7.5
  - pillow=6.2.0
  - pip=19.2.3
  - pkginfo=1.5.0.1
  - pluggy=0.13.0
  - ply=3.11
  - powershell_shortcut=0.0.1
  - prometheus_client=0.7.1
  - prompt_toolkit=2.0.10
  - psutil=5.6.3
  - py=1.8.0
  - py-lief=0.9.0
  - pycodestyle=2.5.0
  - pycosat=0.6.3
  - pycparser=2.19
  - pycrypto=2.6.1
  - pycurl=7.43.0.3
  - pyflakes=2.1.1
  - pygments=2.4.2
  - pylint=2.4.2
  - pyodbc=4.0.27
  - pyopenssl=19.0.0
  - pyparsing=2.4.2
  - pyqt=5.9.2
  - pyreadline=2.1
  - pyrsistent=0.15.4
  - pysocks=1.7.1
  - pytables=3.5.2
  - pytest=5.2.1
  - pytest-arraydiff=0.3
  - pytest-astropy=0.5.0
  - pytest-doctestplus=0.4.0
  - pytest-openfiles=0.4.0
  - pytest-remotedata=0.3.2
  - python=3.7.4
  - python-dateutil=2.8.0
  - python-libarchive-c=2.8
  - pytz=2019.3
  - pywavelets=1.0.3
  - pywin32=223
  - pywinpty=0.5.5
  - pyyaml=5.1.2
  - pyzmq=18.1.0
  - qt=5.9.7
  - qtawesome=0.6.0
  - qtconsole=4.5.5
  - qtpy=1.9.0
  - requests=2.22.0
  - rope=0.14.0
  - ruamel_yaml=0.15.46
  - scikit-image=0.15.0
  - scikit-learn=0.21.3
  - scipy=1.3.1
  - seaborn=0.9.0
  - send2trash=1.5.0
  - setuptools=41.4.0
  - simplegeneric=0.8.1
  - singledispatch=3.4.0.3
  - sip=4.19.8
  - six=1.12.0
  - snappy=1.1.7
  - snowballstemmer=2.0.0
  - sortedcollections=1.1.2
  - sortedcontainers=2.1.0
  - soupsieve=1.9.3
  - sphinx=2.2.0
  - sphinxcontrib=1.0
  - sphinxcontrib-applehelp=1.0.1
  - sphinxcontrib-devhelp=1.0.1
  - sphinxcontrib-htmlhelp=1.0.2
  - sphinxcontrib-jsmath=1.0.1
  - sphinxcontrib-qthelp=1.0.2
  - sphinxcontrib-serializinghtml=1.1.3
  - sphinxcontrib-websupport=1.1.2
  - spyder=3.3.6
  - spyder-kernels=0.5.2
  - sqlalchemy=1.3.9
  - sqlite=3.30.0
  - statsmodels=0.10.1
  - sympy=1.4
  - tbb=2019.4
  - tblib=1.4.0
  - terminado=0.8.2
  - testpath=0.4.2
  - tk=8.6.8
  - toolz=0.10.0
  - tornado=6.0.3
  - tqdm=4.36.1
  - traitlets=4.3.3
  - unicodecsv=0.14.1
  - urllib3=1.24.2
  - vc=14.1
  - vs2015_runtime=14.16.27012
  - wcwidth=0.1.7
  - webencodings=0.5.1
  - werkzeug=0.16.0
  - wheel=0.33.6
  - widgetsnbextension=3.5.1
  - win_inet_pton=1.1.0
  - win_unicode_console=0.5
  - wincertstore=0.2
  - winpty=0.4.3
  - wrapt=1.11.2
  - xlrd=1.2.0
  - xlsxwriter=1.2.1
  - xlwings=0.15.10
  - xlwt=1.3.0
  - xz=5.2.4
  - yaml=0.1.7
  - zeromq=4.3.1
  - zict=1.0.0
  - zipp=0.6.0
  - zlib=1.2.11
  - zstd=1.3.7
prefix: C:\Users\gabri\Anaconda3

